@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8fafc; /* Light gray background */
  color: #0f172a; /* Slate Black text */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind utilities;

@layer base {
  html {
    @apply bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.shadow-top {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1),
    0 -2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* Swipe animations */
@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slide-in-left {
  animation: slide-in-left 0.3s forwards;
}

.slide-out-left {
  animation: slide-out-left 0.3s forwards;
}

.slide-in-right {
  animation: slide-in-right 0.3s forwards;
}

.slide-out-right {
  animation: slide-out-right 0.3s forwards;
}
